body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #6c757d !important;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}

.nav-link.active {
    color: #adb5bd !important;
}

.card {
    margin-bottom: 30px;
}

footer {
    background-color: #6c757d;
    color: #ffffff;
}
